[report]
source = firestone
omit = 
 eggs/* 
 develop-eggs* 
 parts/*
 build/*
 dist/*
 django_firestone.egg-info/*
 */site-packages/*
 */python*/
 testproject/*
 bin/*
 firestone/__init__.py
 manage.py
 runtests.py

